.listing-form {
    position: relative;
    margin: 25px;
    margin-bottom: 100px;
}

.listing-form__input-text {
    position: relative;
    width: 850px;
    height: 60px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 15px;
    padding-top: 30px;
    font-size: 16px;
}

.listing-form__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.listing-form__input-text:focus {
    outline: none;
    border: 1px solid rgba(250, 128, 114, 0.6);
}

.listing-form__input-text:focus ~ .listing-form__floating-label,
.listing-form__input-text:not(:focus):valid ~ .listing-form__floating-label {
    top: 12px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 0.8;
}

.listing-form__floating-label {
    opacity: 0.4;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 23px;
    transition: 0.2s ease all;
}

.listing-form__description-label {
    font-weight: normal;
    font-size: 18px;
    margin-left: 20px;
}

.listing-form__input-textarea {
    padding: 25px;
    margin-left: 10px;
    resize: none;
    overflow-y: auto;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    height: 400px;
}

.listing-form__input-textarea:focus {
    outline: none;
    border: 1px solid salmon;
}

.listing-form__submit-button {
    background-color: salmon;
    cursor: pointer;
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}

.listing-form__uploaded-images {
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
}

.listing-form__input-images-box {
    position: relative;
    margin: 15px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.411);
    width: 500px;
    height: 150px;
    box-shadow: inset 5px 5px 14px 30px rgba(0, 0, 0, 0.05);
}

.listing-form__input-images-drag-message {
    position: relative;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color:rgba(100, 148, 237, 0.678)
}

.listing-form__images-label {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
}

.listing-form__uploaded-image-wrapper {
    position: relative;
}

.listing-form__uploaded-image-label {
    display: flex;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.7);
    justify-content: center;
}

.listing-form__submit-button-container {
    display: flex;
    justify-content: center;
}

.listing-form__uploaded-image-overlay {
    position: relative;
    width: 175px;
    height: 175px;
    margin: 10px;
    cursor: pointer;
}

.listing-form__uploaded-image-overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.listing-form__uploaded-image-overlay:hover:after {
    opacity: 1;
}

.listing-form__validation-errors {
    list-style: none;
    margin-left: 30px;
}

.listing-form__validation-error {
    color: red;
    font-size: 14px;
}

