.homepage {
    position: absolute;
    display: flex;
    top: 35px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('./office.jpg');
}

.homepage__search-input {
    padding: 9px;
    font-size: 21px;
    border: none;
    height: 60px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

.homepage__search-input:focus {
    outline: none;
    border: 2px solid salmon;
}

.homepage__search {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;
    top: 50%;
    left: 15%;
    z-index: 11;
}

.nav-search-form-container {
    position: relative;
    z-index: 11;
}

.homepage__search-submit {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon__wrapper-home {
    font-size: 32px;
    color: white;
    margin-right: 40px;
}

.home-search-logo {
    position: fixed;
    bottom: 33%;
    left: 33%;
    width: 550px;
    height: 550px;
}

.homepage__welcome-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    top: 32%;
    color: rgba(255, 255, 255, 0.85);
}

