.auth-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.auth-form__input {
    margin: 5px;
    width: 40%;
    align-self: center;
    padding: 7px;
}

.auth-form__button {
    background-color: white;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 250px;
    align-self: center;
    background-color: salmon;
    padding: 7px;
    border-radius: 5px;
}

.auth-form__button:disabled {
    background-color: white;
}

.auth-form__label {
    align-self: center;
}
