.auth-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.auth-form__input {
    margin: 5px;
    width: 400px;
    height: 54px;
    font-size: 17px;
    align-self: center;
    padding: 7px;
    padding-top: 16px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid gray;
}

.auth-form__input:focus {
    outline: none;
    border: 2px solid salmon;
}

.auth-form__button {
    background-color: white;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 250px;
    align-self: center;
    background-color: salmon;
    padding: 7px;
    border-radius: 10px;
}

.auth-form__label {
    position: relative;
}

.auth-form__input:focus ~ .floating-label,
.auth-form__input:not(:focus):valid ~ .floating-label {
    top: 12px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 0.6;
}

.floating-label {
    opacity: 0.4;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 23px;
    transition: 0.2s ease all;
}

