.review-create__container {
    margin-top: 55px;
    font-weight: bold;
}

.review-create__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-create__form-clear {
    float: none;
    clear: both;
}

.hide {
    display: none;
}

.review-create__form-rating {
    width: 300px;
    right: 200px;
    margin-top: 5px;
    font-weight: normal;
    unicode-bidi: bidi-override;
    direction: rtl;
    align-self: center;
    text-align: center;
    position: relative;
}

.review-create__form-rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 36px;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: black;
}

.review-create__form-rating > label:hover,
.review-create__form-rating > label:hover ~ label,
.review-create__form-rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.review-create__form-rating > label:hover:before,
.review-create__form-rating > label:hover ~ label:before,
.review-create__form-rating > input.radio-btn:checked ~ label:before,
.review-create__form-rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.review-create__form-input {
    position: relative;
    border-radius: 10px;
    left: 50px;
    width: 625px;
    height: 200px;
    resize: none;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.review-create__form-input:focus {
    border: 2px solid cornflowerblue;
    outline: none;
}

.review-create__submit-button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 35px;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}

.review-create__buttons-container {
    display: flex;
    position: relative;
    left: 50px;
    width: 625px;
    justify-content: space-between;
}

.review-create__clear-text {
    background-color: cornflowerblue;
    border: none;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 35px;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}