.auth-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.auth-modal__content {
    width: 500px;
    border-radius: 10px;
    background-color: white;
}

.auth-modal__header {
    height: 60px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.auth-modal__title {
    margin-left: 110px;
    font-size: 18px;
}

.auth-modal__title-login {
    margin-left: 125px;
}

.auth-modal__body {
    padding: 25px;
}

.auth-modal__close {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.auth-modal__close:hover {
    background-color:rgba(0, 0, 0, 0.05)
}

.auth-modal__options-text {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-modal__options-button {
    background-color: white;
    margin: 5px;
    border: none;
    color: salmon;
    cursor: pointer;
}