.listing-page-container-outer {
    position: fixed;
    top: 75px;
    width: 100%;
    height: calc(100vh - 4vh);
    overflow-y: auto;
    padding: 50px;
    border-top: 1px solid rgba(211, 211, 211, 0.589);
    box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.07);
    margin-bottom: 50px;
}

.listing-page-container {
    position: relative;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.listing-page__listing-image {
    width: 500px;
    height: 300px;
}

.listing-page__cover-image {
    position: relative;
    display: block;
    border-radius: 15px;
    width: 495px;
    height: 495px;
    margin: 5px;
    margin-left: 0;
}

.listing-page__images-block {
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.listing-page__images-images {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 500px;
}

.listing-page__cover-image-container {
    position: relative;
    cursor: pointer;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.listing-page__secondary-container-1 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.listing-page__secondary-container-2 {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.listing-page__secondary-full-container {
    position: relative;
    cursor: pointer;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.listing-page__secondary-image {
    margin: 5px;
    border-radius: 15px;
    width: 240px;
    height: 240px;
}

.listing-page__hosting-info {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    height: 80px;
    width: 625px;
}

.listing-page__description {
    color:rgba(0, 0, 0, 0.8);
    width: 650px;
    padding: 25px;
}

.listing-page__title {
    font-weight: bold;
    font-size: 26px;
}

.listing-page__title-address {
    color:rgba(0, 0, 0, 0.5);
}

.listing-page__full-address {
    font-weight: normal;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.listing-page__cover-image-container:after {
    content: '\A';
    position: absolute;
    width: 495px;
    height: 495px;
    margin: 5px;
    margin-left: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.listing-page__cover-image-container:hover:after {
    opacity: 1;
}

.listing-page__cover-image-container:after {
    content: '\A';
    position: absolute;
    width: 495px;
    height: 495px;
    margin: 5px;
    margin-left: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.listing-page__cover-image-container:hover:after {
    opacity: 1;
}

.listing-page__secondary-image-overlay {
    position: relative;
}

.listing-page__secondary-image-overlay:after {
    content: '\A';
    position: absolute;
    width: 240px;
    height: 240px;
    margin: 5px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.listing-page__secondary-image-overlay:hover:after {
    opacity: 1;
}

.listing-page__secondary-full-container:after {
    content: '\A';
    position: absolute;
    width: 495px;
    height: 495px;
    margin: 5px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.listing-page__secondary-full-container:hover:after {
    opacity: 1;
}

.listing-page__images-showall {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    align-items: center;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 5px;
}

.listing-page__images-showall:hover {
    background-color: rgba(243, 241, 241, 1);
}

.listing-page__images-showall-text {
    margin-left: 5px;
    font-weight: bold;
}

.listing-page__crud-links {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 15px;
    justify-content: center;
}

.listing-page__crud-link { 
    font-weight: bold;
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 7px;
}

.listing-page__links-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.listing-page__crud-button {
    background-color: transparent;
    color: salmon;
    border: none;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.listing-page__crud-or {
    font-weight: bold;
    margin-left: 25px;
}

.listing-page__hosting-booking {
    display: flex;
    justify-content: space-between;
}

.listing-page__review-section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 625px;
    padding: 20px;
}

.listing-page__title-address-and-score {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.listing-page__title-score-number {
    font-weight: bolder;
    margin-left: 5px;
}

.listing-page__title-score-star {
    color: salmon;
    font-size: 13px;
    margin-bottom: 2px;
}

.listing-page__title-score {
    display: flex;
    align-items: center;
}

.listing-page__title-score-reviews {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.listing-page__title-address {
    margin-left: 10px;
}