.nav-bar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4%;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.nav-link {
    color: black;
    height: auto;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 0;
    margin-right: 20px;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 10px;
}

.nav-auth-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 75px;
    font-size: 15px;
    border: none;
    color: black;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}

.nav-auth-button:hover {
    font-weight: bold;
}

.open-menu-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-bottom: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.open-menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-dropdown {
    position: absolute;
    list-style: none;
    background-color: rgb(241, 240, 240);
    right: 5px;
    top: 40px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99
}

.logout-button {
    background-color: transparent;
    border: none;
    color: salmon;
    cursor: pointer;
}