.nav-bar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4%;
    width: 100%;
}

.nav-link {
    color: rgb(70, 67, 67);
    height: auto;
    width: 100px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link-active {
    color: salmon
}

.nav-link:hover {
    font-weight: bold;
}

.nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 10px;
}